<aside class="fixed top-16 w-80 border-gray-300 min-h-[calc(100vh_-_4rem)]">
    <ul>
        <li [routerLink]="'/'" class="p-4 cursor-pointer text-blue-600" routerLinkActive="bg-blue-100 border-l-4 border-blue-500 text-bold"  [routerLinkActiveOptions]="{exact: true}">All</li>
        <li [routerLink]="'/important'" class="p-4 cursor-pointer text-blue-600" routerLinkActive="bg-blue-100 border-l-4 border-blue-500 text-bold">Important</li>
        <li [routerLink]="'/completed'"  class="p-4 cursor-pointer text-blue-600" routerLinkActive="bg-blue-100 border-l-4 border-blue-500 text-bold">Completed</li>
    </ul>
</aside>
